/*   MODAL   */
.modal {
    width: 70%;
    height: 65vh;
    top: 130px;
    left: 15%;
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    color: #5c5146;
    position: fixed;
    display: inline-flex;
    overflow-y: hidden !important;
}

.modal-content {
    width: 75%;
    height: 100%;
    padding: 20px;
    overflow-y: hidden !important;
}

.modal-content h4 {font-weight: 900;}

.modal-content .carriers, .modal-content .networks {
    width: 50%;
    margin-top: 15px;
}

.modal-content .carriers p, .modal-content .networks p {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 15px;
}

.modal-content select {
    width: 90%;
    padding: 10px;
    border: none;
    color: gray;
    outline: none;
    box-shadow: 0 0 48px 0 rgba(198, 188, 178, 0.4);
}

.modal-content select:focus {border: 1px solid indianred;}

.option-cl:hover, .option-cl:focus {background-color: indianred;}

.modal-content .w-50 {margin: 20px 0;}

.modal-content span {
    font-size: 12px;
    font-weight: 900;
}

.modal-content a {
    width: fit-content;
    height: fit-content;
    padding: 8px 15px;
    background: linear-gradient(222deg, rgba(219, 115, 92, 1), rgba(243, 197, 123, 1));
    border: none;
    border-radius: 2rem;
    color: white;
    font-size: 16px;
    font-weight: 900;
    outline: none;
}

.modal-img {
    width: 25%;
    height: 100%;
    margin: 0;
    background-image: url('../../images/images/modalimage.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.modal-img button {
    width: fit-content;
    height: fit-content;
    margin: 10px 5px 0 0;
    padding: 3px 10px;
    background: linear-gradient(222deg, rgba(219, 115, 92, 1), rgba(243, 197, 123, 1));
    border: none;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    outline: none;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}