#logo {
    width: 145px;
    margin: auto;
}

nav {
    width: 100%;
    min-height: fit-content;
    padding: 1rem;
    justify-content: space-between;
    background-color:  #2d2d2c;
    color: #f2f2f2;
    display: inline-flex;
    z-index: 10;
}
nav a{
    text-decoration: none !important;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

nav a.active {color: white;}

/*   Navigation Menu List   */
ul li {
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 0 10px;
    font-size: 14px;
}

ul a {
    text-decoration: none !important;
    color: rgb(167, 167, 167);
    transition: all 0.2s ease-in-out;
    align-items: center;
    cursor: pointer;
}

ul li a:active{
    color: white;
}

ul a:hover, .compare a:hover {
    transition: all 0.2s ease-in-out;
    color: #001bb4;
}

.menu-icon {display: none;}

.fa-bars, .fa-times {
    color: #fff;
    font-size: 1.8rem;
    vertical-align: middle;
    cursor: pointer;
}

/*   Navigation Compare Menu   */
.compare {
    width: fit-content;
    display: none;
}

.compare img {
    width: 35px;
    height: 35px;
    margin: auto 15px;
}

.compare a {color: #f2f2f2;}

.compare p {
    font-size: 13px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.bold {
    font-weight: bold;
    line-height: 1.5rem;
}

.inline-flex {
    height: fit-content;
    margin: auto;
    display: inline-flex;
}

.inline-flex div {
    height: fit-content;
    margin: auto;
}

/**    MEDIA QUERIES    */

@media screen and (min-width: 320px) and (max-width: 575px) {
    
    #logo {width: 100px;}
    
    .menu-icon {
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        position: absolute;
        display: block;
        cursor: pointer;
    }

    .nav-menu {
        width: 100%;
        height: 200px;
        top: -100%;
        left: 0;
        opacity: 1;
        transition: all 1s ease;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #5c5146;
    }

    .nav-menu.active {
        top: 10%;
        transition: all 1s ease;
        z-index: 1;
    }

    .fa-bars, .fa-times {font-size: 1.3rem;}

    li {font-size: 12px;}
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    #logo {width: 100px;}

    .menu-icon {
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        position: absolute;
        display: block;
        cursor: pointer;
    }

    .nav-menu {
        width: 100%;
        height: 300px;
        top: -100%;
        left: 0;
        opacity: 1;
        transition: all 1s ease;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #5c5146;
    }

    .nav-menu.active {
        top: 10%;
        transition: all 1s ease;
        z-index: 1;
    }

    .fa-bars, .fa-times {font-size: 1.5rem;}

    li {font-size: 12px;}
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    #logo {width: 120px;}

    li {font-size: 13px;}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    
    #logo {width: 135px;}

    li {font-size: 14px;}
}

@media screen and (min-width: 1200px) {
    .compare {display: inline-flex;}
}